{% extends "main/layout.html" %}
{% block content %}

<div class="container">
    <h2 class="my-5">{{ _('My Contributions') }}</h2>
    <button id="test-trigger" class="btn btn-secondary">{{ _('Hide Test Questions') }}</button>

    <div class="row">
        <div class="col-md-3 my-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ stat_contributions }}
                    </h5>
                    <p class="card-text">
                        {{ _('Contributions') }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 my-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ stat_tests }}
                    </h5>
                    <p class="card-text">
                        {{ _('Tests') }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 my-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ stat_all_score }}
                    </h5>
                    <p class="card-text">
                        {{ _('Test avg. score (All)') }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 my-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ stat_10_score }}
                    </h5>
                    <p class="card-text">
                        {{ _('Test avg. score (Latest 10)') }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="contribs-container"></div>
</div>

{% endblock content %}
{% block scripts %}

<script>
    var contribs = {{ contributions|tojson }};
</script>

<script src="{{ url_for('static', filename='my-contributions.js') }}"></script>

{% endblock scripts %}
